.contact-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  .contact-form-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: grid;
    gap: 20px;
  }
  
  .contact-form-group label {
    font-weight: bold;
  }
  
  .contact-form-group input,
  .contact-form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form-submit {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form-submit:hover {
    background-color: rgb(146, 201, 221);
  }
  